<div class="container">
	<form ng-submit="login(user)">
		<div style="width: 30%; margin: 0 auto; margin-top: 20%; ">
			<h1 style="margin-left: 33%; margin-bottom: 20px">Sign In</h1>
			<input id="user-field" style="width: 80%; margin-left: 10%" class="form-control" placeholder="username" ng-model="user.name" autofocus/>
			<input id="password-field" style="width: 80%; margin-left: 10%" class="form-control" placeholder="password" ng-model="user.password" type="password"></input>
			<div>
				<button id="login-submit" type="submit">Sign In</button>
			</div>
		</div>
	</form>
</div>