/* The login button (id=login-submit). */
#login-submit{
	color: white;
	background: #46e2d8;
	margin: 10px 0 12px 10%;
	width: 80%;
	/*border-color: #ccc;*/
	height: 40px;
}

/* Side bar styles. */
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #46e2d8;
  color: #ffffff;
  transition: all 0.4s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #46e2d8;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.5em;
  display: block;
  color: #0f3330;
}
#sidebar ul li a:hover {
  color: #0f3330;
  background: #ffffff;
}

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}
